$gray_normal:#4B4B4B;
$brand-blue:#2B88D8;
$brand-red:  #FE4066;   
$brand-blue-light: #6CBCE4; 
$footer-gray:#cfcccc;  
$smallMobile: 352px;  
$verysmallmobile: 318px;  
$largescreenmobile:420px;
$verylargescreenmobile:522px;
$smalltablet:600px;
$laptop:910px;
$laptopLarge:1280px;
$desktopSmall:1332px;
$desktop:1446px;
$dekstopLarge:1640px;